# 以下のディレクトリを無視
image_postcard/
feature_resnet.csv
resnet_pca.csv
gapstat/
som.csv
som.csv:Zone.Identifier
__pycache__/
result_som/
result_vertices/
result_som_list/
bert_model/
ids.csv
GiNZA/
jawiki.all_vectors.300d.txt
title_wakati
rep_image_som_result_40-60_20230224_112013.csv